pip==20.0.2
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.7.9
tox==3.14.3
coverage==5.0.3
Sphinx==1.7.1
sphinx-rtd-theme==0.4.1
twine==3.1.1
pytest==5.3.4
pytest-runner==5.2
black==19.10b0
flake8-black==0.1.1
pre-commit==2.0.1
